//Variables
@import "variables";
@import "home";
@import "playlist-page";

//Spectre
@import "~spectre.css/dist/spectre.min.css";
@import "~spectre.css/dist/spectre-exp.min.css";

//Main Settings
body{
    background-color: $black;
}
h1, .h1,
h2, .h2,
h3, .h3{
    color: $green;
}

.green{
    color: $green;
}

/*
*
* Main
*
*/


/*
*
* Navbar
*
*/

.navbar {
    background-color: #060606;
    padding: 1rem 0 1rem 0;

}
.navbar a {
    font-size: 1rem;
}
.navbar .btn.btn-link.green{
    color: $green;
}

.navbar p.btn{
    cursor: auto;
}

