//Variables
@import "variables";
@import "home";
@import "playlist-page";
@import "statistics-page";

//Spectre
@import "~spectre.css/dist/spectre.min.css";
@import "~spectre.css/dist/spectre-exp.min.css";

//Main Settings
body{
    box-sizing: border-box;
    background-color: $black;
}
h1, .h1,
h2, .h2,
h3, .h3{
    color: $green;
}

p,
span{
    color: white;
}

h2, .h2{
    font-size: 1.25rem;
}
h3, .h3{
    font-size: 0.8rem;
}

.green{
    color: $green;
}

/*
*
* Main
*
*/
main {

}

/*
*
* Navbar
*
*/

.navbar {
    background-color: #060606;
    padding: 1rem 0 1rem 0;

}
.navbar a {
    font-size: 1rem;
}
.navbar .btn.btn-link.green{
    color: $green;
}

.navbar p.btn{
    cursor: auto;
}

/*
*
* @media
*
 */

@media (min-width: 600px) {
    h1, .h1{
        font-size: 4rem;
    }
    h2, .h2{
        font-size: 2rem;
    }
    h3, .h3{
        font-size: 1.5rem;
    }
}

@media (min-width: 960px) {
    h1, .h1{
        font-size: 5rem;
    }
    h2, .h2{
        font-size: 3rem;
    }
    h3, .h3{
        font-size: 2rem;
    }
}
