#home-container {
        .form-input {
        height: 3rem;
        border-radius: 2rem;
        font-weight: bold;
        padding-left: 1.5rem;
    }

    .container {
        position: relative;
    }

    button#send {
        position: absolute;
        top: 5px;
        right: 10px;
        background: unset;
        border: none;
        padding: 0;

        img {
            width: 50px;
        }
    }

    button#send:hover {
        cursor: pointer;
    }
}

button#send:focus {
    outline: none;
}


#result-container {
    margin-top: 3rem;
    color: white;

    p {
        margin: 0;
    }

    img {
        width: 100px;
        height: 100px;
    }

    form {
        width: 100%;

        button {

        }
    }
}

#describtion-container {
    p {
        margin-top: 0.83rem;
        font-size: 1rem;
        text-align: justify;
        color: white;
    }
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
