#playlist-container{
    .tabulator-tableHolder {
        .tabulator-cell {
            color: white;
            background-color: unset;
            transition-duration: .3s;
        }

        .tabulator-row:hover {
            background-color: white;

            .tabulator-cell {
                color: $black;
            }
        }
    }
}
