#statistics-container {
    #statistics-page {

        img {
            width: 65px;
            margin-top: 5px;
            -webkit-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75);
            box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.75)
        }

        dl#top {
            div.columns > div.column:first-of-type {
                margin-top: .25rem;

                span {
                    font-size: 2rem;
                }
            }

            div.columns div.column:last-of-type {
                @media (min-width: 340px) {
                    margin-top: 1rem;
                }

                span {
                    font-size: 1rem;

                }
            }
        }
    }
}
